/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .profile {
    text-align: center;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h1 {
    font-size: 24px;
    margin
